<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color:black;
    font-size: 1.1em;
    line-height:1.5;
    text-align: center;
}

img {
    display:block;
    width:100%;
    height: auto;
}

h1, h3 {
    margin:0;
    padding: 1em 0;
}

p{
    margin:0;
    padding: 1em 0;
}

/* Header Showcase */
#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .sam-image {
    position: absolute;
    background-image: url("sam-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index:-1;
}

#showcase h1 {
    padding-top: 150px;
    padding-bottom:0;
}

#showcase .content-wrap,
#section-a .content-wrap {
    padding:0 1.5em;
}

/* Section A Profile */

#section-a {
    color: #000000;
    padding-bottom: 2em;
}

/* Section B Education */

#section-b {
    padding: 2em 1em 1em;
    background: #DCDCDC;
    color: black;
}

#section-b ul {
    list-style: none;
    margin: 0;
    padding:0;
}

#section-b li {
    margin-bottom: 1em;
}

.education-content {
    padding: 1.5em;
}

/* Section C Experience */

#section-c {
    padding: 2em 1em 1em;
    color: black;
}

#section-c ul {
    list-style: none;
    margin: 0;
    padding:0;
}

#section-c li {
    margin-bottom: 1em;
}

.experience-content {
    padding: 1.5em;
}

/* Section D Skills */

#section-d {
    padding: 1em;
    background: #DCDCDC;
}

#section-d ul {
    list-style: none;
    text-align: center;
    font-size: 400%;
}

#section-d li {
    display: inline;
}


/* Section E Projects */
#section-e {
    padding: 2em;
}

#section-e ul {
    list-style: none;
}

/* Section F Contact Me */

#section-f {
    padding: 2em;
    background: grey;
    color: black;
}

.content-title {
    color:#00AA8D;
    text-align: center;
}

.social {
    text-align: center;
}

.social i {
    margin:0px 80px;
    padding: 10px;
    width: 40px;
    height: 40px;
    background: #eee;
    text-align:center;
    line-height: 40px;
    border-radius:50%;
    color:#fff;
    transition:all 300ms ease-in-out;
    display:inline-block;
    font-size: 200%;
}
i.fa-linkedin {
    background:#55acee;
}
i.fa-linkedin:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-github {
    background: #333;
}
i.fa-github:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-medium {
    background:#bd2c00;
}
i.fa-medium:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-at {
    background:#333;
}
i.fa-at:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

img {
    border-radius: 25px;
}

/* Media Queries */

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }
    .content-wrap, 
    #section-b ul {
        grid-column: 2/4;
    }

    .content-wrap, 
    #section-c ul {
        grid-column: 2/4;
    }
    .content-wrap, 
    #section-e ul {
        grid-column: 2/4;
    }
    img {
        display:block;
        width:50%;
        height: auto;
    }

    .terminal-content {
        width:50%
    }

.education-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



}



@media(min-width: 1200px) {
    .content-title {
        color:#00AA8D;
        text-align: center;
        font-size: 300%;
    }

    #section-d ul {
        list-style: none;
        text-align: center;
        font-size: 600%;
    }

}