<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    width: 60px;
}

.navbar {
    list-style-type: none;
    right: 20px;
    top: 200px;
    position: fixed;
    width: 150px;
}

.navbar a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
}
.navbar a:hover,.navbar a.selected {
    background-color:#00AA8D;
}

html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

.container {
    margin: 0 auto;
    max-width: 940px; 
}

.header {
    position: relative;
    background: url("https://cdn.pixabay.com/photo/2018/01/31/12/16/architecture-3121009_960_720.jpg") no-repeat center center;
    background-size: cover;
    height: 800px;
}

.header .container {
    position: relative;
    top: 200px;
}

.header h1 {
    color: #fff;
    line-height: 80px; 
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
    padding: 270px 0 0 0;
  }


h2 {
    text-align: center;
    font-size: 40px;
    color:#00AA8D;
}

h3 {
    text-align: center;
}

.profile {
    width: 100%;
    height:250px;
    
    
}

.aboutme {
    float: left;
    width: 35%;
    padding-left:10%;
}

.details {
    float: right;
    padding: 0%;
    width: 35%;
    padding-right:10%;
}

.education {
    width: 100%;
    height:500px;
    background-color: #DCDCDC;
    padding-right: 15%;
}

.code {
    height:150px;
}

.coder {
    float: left;
    width: 20%;
    vertical-align: text-top;
    padding-left: 15%;
}

.coderinfo {
    float: right;
    width: 45%;
    vertical-align: text-top;
    padding-right: 15%;
}

.nsw {
    float: left;
    width: 20%;
    vertical-align: text-top;
    padding-left: 15%;
}

.nswinfo{
    float: right;
    width: 45%;
    vertical-align: text-top;
    padding-right: 15%;
}


.experience {
    width: 100%;
    height:500px;
}

.pdm {
    height:200px;
}

.analyst {
    float: left;
    width: 20%;
    vertical-align: text-top;
    padding-left:15%;
}

.analystinfo {
    float: right;
    width: 45%;
    vertical-align: text-top;
    padding-right: 15%;
}

.settofficer {
    float: left;
    width: 20%;
    vertical-align: text-top;
    padding-left: 15%;
}

.settinfo{
    float: right;
    width: 45%;
    vertical-align: text-top;
    padding-right: 15%;
}

.skills {
    width: 100%;
    text-align: center;
    background-color: #DCDCDC;
    
}

.skill-icon {
    font-size: 100px;
    margin: 35px;
    text-align: center;
}

ul li {
    display: inline;
}

.projects {
    /* padding: 0 1.5%; */
    width: 100%;
    height: 377px;
}

.terminal {
    float: left;
    width: 30%;
    padding-left: 15%
}

.horoscope {
    float: right;
    width: 40%;
    vertical-align: text-top;
    padding-right: 15%;
}

p {
    text-align: center;
}

.contact {
    background-color:  #DCDCDC;
    height: 800px;
    text-align: center;
}


.social i {
    margin:0px 80px;
    padding: 20px;
    width: 40px;
    height: 40px;
    background: #eee;
    text-align:center;
    line-height: 40px;
    border-radius:50%;
    color:#fff;
    transition:all 300ms ease-in-out;
    display:inline-block;
    font-size: 200%;
}
i.fa-linkedin {
    background:#55acee;
}
i.fa-linkedin:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-github {
    background: #333;
    }
i.fa-github:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-medium {
    background:#bd2c00;
        }
i.fa-medium:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

i.fa-at {
    background:#333;
        }
i.fa-at:hover {
    color: #333;
    background:#fff;
    border:1px solid #55acee;
}

/* @media only screen and (max-width: 850px) {
    .header h1 {
        padding: 70px;
    }
} */